.caixaDeErro{
    position: absolute;
    left: 800px;
    top: 310px;
    background-color: #ff8b11;
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    border-color: #ff8b11;
    border-style: solid;
}

.caixaDeErro .seta{
    content: "";
    transform: rotate(90deg);
    position: absolute;
    top: 65px;
    left: -23px;
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: #ff8b11 transparent transparent transparent;
}