.fundo{
   background-image: url("../img/gris_legal.png");
   background-repeat: no-repeat;
   background-position: absolute;
   background-size: cover;
}
.fundi{
   background-image: url("../img/fundi_bonito.jpg");
   background-repeat: no-repeat;
   background-position: absolute;
   background-size: cover;
}